name: Nightly Build

on:
  push:
  pull_request:
  schedule:
  - cron: '0 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repo
      uses: actions/checkout@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Cache last built versions
      id: cache-build-versions
      uses: actions/cache@v2
      with:
        path: |
          last_master
          last_version
        key: ${{ runner.os }}-primes

    - name: Install curl and jq
      run: |
        sudo apt-get install curl jq

    - name: Run build script
      run: |
        bash build.sh